<div class="container-view">
<h1>{{task.title}}</h1>
<p>{{task.description}}</p>
{{#if task.done}}
<p class="sucess">A tarefa foi finalizada</p>
{{else}}
<p class="stil">A tarefa ainda não foi concluida</p>
{{/if}}
</div>